@use "../../styles/partials/_variables" as *;
@use "../../styles/partials/_mixins" as *;
.threads {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding-bottom: 5rem;

  &-chat {
    border-radius: 2.1875rem;
    box-shadow: 0px 4px 4px 0px rgba(2, 96, 82, 0.3);
    background-color: #fff;
    margin-bottom: 3rem;
    @include desktop {
      margin-right: 6.25rem;
      margin-left: 6.25rem;
      padding: 1.88rem;
    }
  }
}
