@use "../../styles/partials/_variables" as *;
.thread {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 0.88rem;
  border: 1px solid $nav;
  border-radius: 1.875rem;
  text-decoration: none;
  text-decoration-style: none;
  &:hover {
    background-color: $background1;
    color: white;
  }

  &-list {
    display: flex;
    flex-direction: column;
    gap: 0.65rem;
  }

  &__title {
    font-size: 0.85rem;
    font-weight: 500;
    color: #fff;
  }
  &__date {
    font-size: 0.875rem;
    font-weight: 400;
    color: #fff;
    margin: 0;
  }
  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__button {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
  &__icon {
    width: 0.82781rem;
    height: 0.82781rem;
    rotate: 270deg;
  }
}
