@use "../../styles/partials/_mixins" as *;
.image__loading {
  text-align: center;
  color: #0260525c;
}

.image-window {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 50vh;
  @include desktop {
    height: auto;
  }
  &__wrap {
    @include desktop {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      margin-bottom: 1rem;
      width: 35vw;
    }
  }
  &__button {
    height: 0.75rem;
    width: 0.75rem;
    padding: 0;
  }
  &__img {
    height: 35vh;
    @include desktop {
      width: 35vw;
      height: auto;
      margin-top: 1rem;
    }
  }
  &__forward {
    height: 0.75rem;
    width: 0.75rem;
    &--hide {
      display: none;
    }
  }
  &__back {
    height: 0.75rem;
    width: 0.75rem;
    &--hide {
      display: none;
    }
  }
  &__circles {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    margin-bottom: 1rem;
  }
  &__circle {
    font-size: 0.75rem;
  }
}
