@use "../../styles/partials/_variables" as *;
@use "../../styles/partials/_mixins" as *;
.connection-envelope {
  background-color: white;
  border-radius: 2.1875rem;
  padding: 2rem 2.1rem;
  margin: 1rem;
  &__title {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 0.25rem;
  }
  &__underline {
    width: 100%;
    height: 1px;
    background-color: $background1;
    margin-bottom: 1rem;
  }
}
