@use "../../styles/partials/_variables" as *;
@use "../../styles/partials/_mixins" as *;
.header {
  display: none;
  @include tablet {
    display: block;
    margin-left: 6.25rem;
    margin-right: 6.25rem;
    border-bottom: 1px solid black;
  }
  &__logo {
    height: 4.4375rem;
    width: 8.4375rem;
    border-radius: 1rem;
    background-color: $nav;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: $accent1;
    font-weight: 900;
    font-size: 2rem;
    letter-spacing: 0.2rem;
  }
  &__nav {
    padding: 3.31rem 0rem 1.88rem 0rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
}
