@use "../../styles/partials/_mixins" as *;
.connection-card {
  border-radius: 2.1875rem;
  border: 1px solid #959090;
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;

  &__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.4rem;
    align-items: center;
  }

  &__img {
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 50%;
  }
  &__name {
    font-size: 0.875rem;
    font-weight: 500;
    margin: 0;
  }
  &__remove {
    display: none;
    @include desktop {
    }
    &--mobile {
      width: 1.2rem;
      height: 1.2rem;
    }
    &-icon {
      background-color: transparent;
      border: none;
      outline: none;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
