@use "./styles/partials/_typography" as *;
body {
  margin: 0;
  font-family: "Roboto", sans-serif, monospace;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
